<?xml version="1.0" encoding="UTF-8"?><!--
  ~ This software is licensed under the MIT License.
  ~
  ~ Copyright (c) 2015 Geoff M. Granum
  -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Identity and Access Management</display-name>
  <session-config>
    <session-timeout>3</session-timeout>
  </session-config>
  <!-- set up Google Guice Servlet integration -->
  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.geoffgranum.uttu.servlet.LoggingGuiceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.geoffgranum.uttu.servlet.ResteasyGuiceServletContextListener</listener-class>
  </listener>
</web-app>
